.operationShort {
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    margin-bottom: 8px;
    background-color: #f1f1f1;
}

.operationShort h3 {
    font-size: 16px;
    margin-bottom: 4px;
    color: #333;
}

.operationShort p {
    margin: 2px 0;
    color: #555;
}
  